* {
    padding: 0;
    margin: 0;
    content: unset;
}

li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* fonts start */
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Light.woff2') format('woff2'),
        url('../fonts/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
        url('../fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
        url('../fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
        url('../fonts/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Italic.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('../fonts/LibreBaskerville-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* fonts end */
/* Header-css start */
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 16px;
}

header li a,
header li a:after,
header li a:before {
    transition: all .5s;
}

/* SHIFT */
header li a {
    position: relative;
    z-index: 1;
}

header li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

header li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

/* SHIFT */
.header li a:hover {
    color: #fff;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: bold;
}

.header .logo img {
    width: 90px;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 32px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/* Header-css End */

/* banner-css start */
.banner {
    /* background: url(../images/banner-image.png) center center no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

.banner::before {
    position: absolute;
    content: '';
    background: linear-gradient(252deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-size: cover;
}

.banner-wrapper {
    width: 100%;
}

.banner-details {
    text-align: center;
}

.banner-details img {
    max-width: 100%;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.banner-details h1 {
    font-family: 'Nunito';
    font-weight: bold;
    font-style: normal;
    font-size: 88px;
    line-height: 100px;
    color: #fff;
}

.banner-details p {
    color: #fff;
    font-size: 19px;
    padding-top: 10px;
    line-height: 32px;
    margin-bottom: 47px;
    font-family: 'Nunito';
    font-weight: 600;
    font-style: normal;
    -webkit-animation: bounce 1 3s;
    animation: bounce 1 3s;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    0% {

        opacity: 0;
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    0% {

        opacity: 0;
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        opacity: 0;
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.banner-details a {
    background-color: #fff;
    line-height: 1;
    text-align: center;
    color: #03558b;
    display: inline-block;
    padding: 20px 78px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-family: 'Nunito';
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    border-radius: 25px;
    -webkit-animation: scaleout 1 1s;
    animation: scaleout 1 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}


.banner-details a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


.ml9 {
    position: relative;
}

.ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml9 .letter {
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}

/* banner-css end */

/* section1-css center */
.section1-outer {
    padding: 80px 0;
    overflow: hidden;
}

.main-heading {
    font-size: 48px;
    line-height: 58px;
    color: black;
    font-family: 'Nunito';
    font-weight: 600;
    font-style: normal;
    text-align: center;
    position: relative;
    padding-top: 60px;
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

.main-heading::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main-heading span.libre-font {
    font-family: 'Libre Baskerville';
    font-weight: normal;
    font-style: italic;
}

.main-heading span.Nunito-regular {
    font-family: 'Nunito';
    font-weight: normal;
    font-style: normal;
}

.section1-row1 {
    text-align: center;
    width: 100%;
}

.section1-row1 p {
    font-size: 18px;
    line-height: 28px;
    color: #3F3F40;
    font-family: 'Nunito';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 54px;
}


/* section1-css end */
/*----------------------------------------*/
/*  Service Section CSS

/* section 3 css start */
.skills {
    margin-top: 50px;
}

.section2-outer {
    padding-bottom: 80px;
    padding-top: 80px;
    overflow: hidden;
    background: url(../images/pexels-photo-2102416.jpeg) no-repeat center/cover;
    position: relative;
    z-index: 2;
    background-attachment: fixed;
}

section.section2-outer::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(202deg, rgba(9, 12, 19, 0.9) 0%, rgba(59, 102, 144, 0.9) 100%);
    z-index: -1;
}

.section3-wrapper h2.main-heading {
    color: #fff;
}

.section3-wrapper h2.main-heading::before {
    background-color: #fff;
}

.section3-wrapper .tab-content p {
    color: #fff;
}

.inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.section2-outer .inner {
    padding-top: 79px;
}

.section3-wrapper {
    width: 100%;
    margin: 0;
}

/* tabs css start */
.section2-outer .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #03558b;
    border: none;
    text-decoration: none;
}

.section2-outer .nav>li>a:focus,
.nav>li>a:hover {
    background-color: #03558b;
    color: #fff;
}

.section2-outer .nav-tabs {
    border: none;
    margin: 0 auto;
}

.section2-outer .nav-tabs>li {
    float: none;
    display: inline-block;
}

.section2-outer .nav>li>a {
    color: #C2C9DB;
    padding: 0 42px;
    height: 50px;
    display: inline-block;
    line-height: 48px;
    text-align: center;
    font-family: 'Nunito';
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(243, 243, 248, 1);
    box-shadow: 0px 0px 9px -1px rgba(243, 243, 248, 1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.section2-outer .nav {
    text-align: center;
}

.section2-outer .tab-content {
    margin-top: 35px;
}

.section2-outer .tab-content .row {
    margin-top: 7px;
}

.section2-outer .tab-content>p {
    text-align: center;
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    max-width: 770px;
    margin: 0 auto;
}



.tab-content-items {
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.tab-content-items:hover {
    -webkit-box-shadow: 0px 0px 17px 6px rgba(242, 242, 247, 1);
    box-shadow: 0px 0px 17px 6px rgba(242, 242, 247, 1);
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.tab-content-items h3 {
    font-family: 'Nunito';
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
}

.tab-content-items p {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #9FA4AF;
}

.tab-content-items img {
    width: 51px;
    height: 51px;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.tab-content-items:hover img {
    left: 10px;
}

/* tabs css end */
/* section 3 css end */

/* section 4 css start */
.section5-outer .section1-row1 p {
    width: 52%;
    margin: 0 auto;
}

.work-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 0 30px;
    margin-top: 60px;
}

.work-wrap .work-nest {
    position: relative;
    overflow: hidden;
    border: 0px solid #03558b;
    border-radius: 25px;
    box-shadow: 1px 1px 6px #03558bba;
}

.work-wrap .work-info {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.work-nest:hover .work-info {
    opacity: 1;
    top: 0%;
}

.work-wrap .work-info::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(202deg, rgba(9, 12, 19, 0.9) 0%, rgba(59, 102, 144, 0.9) 100%);
}

.work-wrap .work-info h3 {
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 30px;
    margin-bottom: 15px;
    color: #fff;
}

.work-wrap .work-info a {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background: #fff;
    color: #03558b;
    border-radius: 40px;
    padding: 10px 0;
    width: 170px;
    display: inline-block;
    font-family: 'Nunito';
}

.news {
    padding-top: 80px;
    display: inline-block;
    width: 100%;
}

.news-item {
    background: #fff;
    min-height: 509px;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.news-item figure {
    overflow: hidden;
}

.news-item:hover {
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



.news-item img {
    width: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.news-item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.news-description {
    padding: 0 34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 30px;
    min-height: 479px;
}

.news-description h3 {
    font-family: 'Nunito';
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    padding-top: 17px;
    padding-bottom: 10px;
    color: black;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.news-item:hover .news-description h3 {
    color: #03558b;
}

.news-description p {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #9FA4AF;
}

/* section 4 css end */
.testimonials {
    padding: 80px 0;
    background: url(../images/pexels-photo-842567.jpeg) no-repeat center/cover;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.testimonials::after {
    content: '';
    background: linear-gradient(202deg, rgba(9, 12, 19, 0.9) 0%, rgba(59, 102, 144, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mickymouse {
    width: 310px;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.testimonials h2.main-heading {
    color: #fff;
}

.testimonials h2.main-heading::before {
    background-color: #fff;
}

.carousel {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 340px;
}

.carousel .item a {
    color: #eb7245;
}

.carousel .img-box {
    width: 145px;
    height: 145px;
    margin: 0 auto;
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}

.carousel .testimonial {
    padding: 30px 0 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Nunito';
}

.carousel .overview {
    text-align: center;
    padding-bottom: 5px;
}

.carousel .overview b {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}

.carousel .star-rating i {
    font-size: 18px;
    color: #ffdc12;
}

.carousel .carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    text-shadow: none;
    top: 115px;
    opacity: 1;
}

.carousel-control i {
    font-size: 20px;
    margin-right: 2px;
    color: #03558b;
}

.carousel-control.left {
    left: auto;
    right: 40px;
}

.carousel-control.right i {
    margin-right: -2px;
}

.carousel .carousel-indicators {
    bottom: 15px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%;
}

.carousel-indicators li {
    background: #e2e2e2;
    border-color: transparent;
}

.carousel-indicators li.active {
    border: none;
    background: #888;
}

/* section 5 css start */
.section5-outer {
    overflow: hidden;
    padding: 80px 0;
    position: relative;
}

.section5-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
    width: 100%;
}

.section5-description h5 {
    font-family: 'Nunito';
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 32px;
    color: #03558b;
    text-transform: uppercase;
}

.section5-description .main-heading {
    padding-top: 0;
    text-align: left;
    font-size: 36px;
    line-height: 48px;
}

.section5-description .main-heading::before {
    display: none;
}

.section5-description p {
    font-family: 'Libre Baskerville';
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    line-height: 30px;
    color: #9FA4AF;
    padding-top: 37px;
}

.subscription-form {
    padding-top: 50px;
}

.subscription-form form input[type="text"] {
    width: 350px;
    padding: 0 16px;
    height: 45px;
    border-radius: 50px;
    border: none;
    background: #F1F8FC;
    outline: none;
    border: 2px dashed #03558b;
}

.subscription-form form input[type="text"]::-webkit-input-placeholder {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #9FA4AF;
}

.subscription-form form input[type="text"]::-moz-placeholder {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #9FA4AF;
}

.subscription-form form input[type="text"]:-ms-input-placeholder {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #9FA4AF;
}

.subscription-form form input[type="text"]::-ms-input-placeholder {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #9FA4AF;
}

.subscription-form form input[type="text"]::placeholder {
    font-family: 'Nunito';
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 28px;
    color: #9FA4AF;
}

.subscription-form form input[type="submit"] {
    height: 45px;
    padding: 0 42px;
    text-transform: uppercase;
    color: #fff;
    background-color: #03558b;
    border-radius: 50px;
    border: none;
    margin-left: 7px;
    font-family: 'Nunito';
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    outline: none;
    -webkit-animation: scaleout infinite 2s;
    animation: scaleout infinite 2s;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleout {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.social-icons {
    padding-top: 50px;
}

.social-icons ul {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.social-icons ul li {
    margin: 0 7px;
    background-color: #E4EDF3;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border: 1px solid #E4EDF3;
    overflow: hidden;
}

.social-icons ul li:hover {
    cursor: pointer;
}

.social-icons ul li::after {
    content: '';
    background: #03558b;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 0;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.social-icons ul li:hover::after {
    height: 100%;
}

.social-icons ul li:hover a {
    color: #fff;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.social-icons ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.social-icons ul li a i {
    font-size: 18px;
}

/* section 5 css end */


/* wrapper-inner */
.in-contwrapper {
    background: #F2F2F2;
    transition: all ease-in-out 0.3s;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    width: 545px;
    min-height: 371px;
    border: 1px solid transparent;
}

.in-contwrapper:hover {
    border: 1px solid #707070;
}

.in-contwrapper h2 {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Nunito';
}

.in-contwrapper p {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    font-family: 'Nunito';
}

.innerwrapper .section1-row1 p {
    padding-top: 20px;
    padding-bottom: 120px;
}

.section1-outer.innerwrapper {
    padding-bottom: 8px;
}

.inner .in-contwrapper {
    background: transparent;
    height: auto;
    width: auto;
    border: none;
    box-shadow: none;
    text-align: center;
    padding: 0;
    padding-bottom: 80px;
    min-height: auto;
}

.inner .in-contwrapper h2 {
    font-weight: 500;
    font-size: 30px;
}

.inner .in-contwrapper p {
    padding: 0px 91px;
    font-size: 18px;
}

.bg-greyinn {
    background: #F2F2F2 !important;
}

.flexcol-center {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.py-0 {
    padding-bottom: 0 !important;
}

.section1-outer.innerwrapper.inner.bg-greyinn {
    padding-top: 50px;
    margin-bottom: 130px;
    margin-top: 20px;
}

.section1-outer.innerwrapper.inner.bg-greyinn .in-contwrapper {
    padding-bottom: 70px;
}

.slider.slider-nav .news-item img {
    height: 427px;
    object-fit: cover;
}

.slider.slider-nav .news-item {
    margin: 0 15px;
}

.slick-next:before,
.slick-prev:before {
    font-size: 30px;
}

.section-bannerinner .main {
    margin-top: 60px;
}

a.slidedown {
    background: transparent;
    height: auto;
    line-height: initial;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 0 30px;
    font-style: normal;
    font-family: 'Nunito';
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-animation: scaleout 1 1s;
    animation: scaleout 1 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    display: block;
}

a.slidedown i {
    font-size: 50px;
}

.slick-next {
    right: -15px;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}

.slick-dots li button:before {
    font-size: 16px;
    ;
}

/* location */
.location-wrap1 {
    display: flex;
    justify-content: center;
}

.map {
    position: relative;
    z-index: 1;
}

.map img {
    margin: 0 auto;
}

.locationservices {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
}

.location-wrap1 span {
    font-weight: bold;
}

.location-wrap1 a {
    font-weight: 500;
    font-size: 18px;
}

.pb-5 {
    padding-bottom: 8rem;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.d-none {
    display: none;
}

/* shapes */
#burst-12 {
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    animation: rotate 3s linear infinite;
    left: -45px;
    top: 40px;
}

#burst-12:before,
#burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
}

#burst-12:before {
    transform: rotate(30deg);
}

#burst-12:after {
    transform: rotate(60deg);
}

#burst-13 {
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    animation: rotate 3s linear infinite;
    right: -45px;
    bottom: 30px;
    margin-left: auto;
}

#burst-13:before,
#burst-13:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
}

#burst-13:before {
    transform: rotate(30deg);
}

#burst-13:after {
    transform: rotate(60deg);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* shapes */
/*-_-_Content_CSS_Start_-_-*/
.article__header {
    position: relative;
}

.bubbles {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.bubbles>.bubbles__bubble.b {
    width: 90px;
    height: 90px;
    margin: 0;
    bottom: 20px;
    left: -50px;
    -webkit-transform-origin: 0 1px;
    -ms-transform-origin: 0 1px;
    transform-origin: 0 1px;
    visibility: visible;
}

.bubbles>.bubbles__bubble.b .bubbles__bubble {
    -webkit-transform-origin: 20% 1px;
    -ms-transform-origin: 20% 1px;
    transform-origin: 20% 1px;
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
    width: 150px;
    height: 150px;
    visibility: visible;
    border-radius: 50%;
    top: 100%;
    right: 0;
    position: absolute;
}

.bubbles>.bubbles__bubble.c {
    width: 60px;
    height: 60px;
    margin: 0;
    bottom: 60px;
    left: 100px;
    -webkit-transform-origin: 0 1px;
    -ms-transform-origin: 0 1px;
    transform-origin: 0 1px;
    visibility: visible;
}

.bubbles>.bubbles__bubble.c .bubbles__bubble {
    -webkit-transform-origin: 20% 1px;
    -ms-transform-origin: 20% 1px;
    transform-origin: 20% 1px;
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
    width: 200px;
    height: 200px;
    visibility: visible;
    border-radius: 50%;
    top: 100%;
    right: 0;
    position: absolute;
}

.bubbles>.bubbles__bubble {
    width: 100px;
    height: 100px;
    margin: 20px auto 0;
    -webkit-animation: circle 5s linear infinite;
    animation: circle 5s linear infinite;
    -webkit-transform-origin: 50% 20px;
    -ms-transform-origin: 50% 20px;
    transform-origin: 50% 20px;
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    overflow: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bubbles__bubble>.bubbles__bubble {
    -webkit-animation: inner-circle 5s linear infinite;
    animation: inner-circle 5s linear infinite;
}

@-webkit-keyframes circle {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes circle {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes inner-circle {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@keyframes inner-circle {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

/*-_-_Content_CSS_End_-_-*/
/* Footer css start */
footer {
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(202deg, rgba(9, 12, 19, 1) 0%, rgba(59, 102, 144, 1) 100%);
}

footer p {
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}

/* media query start */
@media(max-width: 1827px) {
    .banner-details h1 {
        font-size: 76px;
    }
}

@media(max-width: 1600px) {
    .banner-details h1 {
        font-size: 67px;
        line-height: 90px;
    }
}

@media(max-width: 1439px) {
    .banner-details h1 {
        font-size: 65px;
    }
}

@media (max-width: 1365px) {
    .banner-details h1 {
        font-size: 60px;
    }

    .mickymouse {
        width: 280px;
        right: 30px;
        top: 64%;
    }

    .inner {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 1279px) {
    .banner-details h1 {
        font-size: 55px;
        line-height: 80px;
    }
}

@media (max-width: 1199px) {
    .banner-details h1 {
        line-height: 60px;
    }

    .banner {
        height: 800px;
    }

    .section1-outer {
        padding: 50px 0;
    }

    .bubbles>.bubbles__bubble.b {
        bottom: auto;
        top: 10px;
    }

    .bubbles>.bubbles__bubble.c {
        bottom: auto;
        left: auto;
        right: 0;
        top: 10px;
    }

    .section1-row1 p {
        margin: 0 100px;
    }

    .news-description {
        min-height: 279px;
        margin-bottom: 50px;
    }

    .row.skills .col-lg-4:last-child .news-description {
        margin-bottom: 0;
    }

    .section2-outer {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .section5-outer {
        padding: 50px 0;
    }

    .section5-outer .section1-row1 p {
        width: 73%;
    }

    .testimonials {
        padding: 50px 0;
    }

    .inner {
        max-width: 890px;
    }

    .section5-description .main-heading {
        font-size: 30px;
    }

    .subscription-form form input[type="text"] {
        width: 260px;
    }

    .mickymouse {
        width: 220px;
        top: auto;
        bottom: 10px;
    }
}

@media(max-width: 991px) {
    .banner {
        height: 700px;
    }

    .banner-details h1 {
        font-size: 49px;
        max-width: 70%;
        margin: 0 auto;
    }

    .section1-row1 p {
        margin: 0 15px;
    }

    .inner {
        max-width: 650px;
    }

    .row.section5-wrapper .col-xs-12.col-sm-12.col-md-5.col-md-offset-1.col-sm-offset-0 .section5-description {
        margin-top: 50px;
    }

    .subscription-form {
        padding-top: 20px;
    }

    .social-icons {
        padding-top: 20px;
    }
}

@media(max-width: 767px) {
    .banner {
        height: 600px;
    }

    .banner-details img {
        max-width: 30%;
        top: 30px;
    }

    .banner-details h1 {
        max-width: 84%;
    }

    .banner-details p {
        margin-bottom: 27px;
    }

    .main-heading {
        font-size: 40px;
        line-height: 50px;
        padding-top: 40px;
    }

    .work-wrap {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 40px;
    }

    .section5-outer .section1-row1 p {
        width: 100%;
        margin: 0 0;
        padding: 0 15px;
        padding-top: 20px;
    }

    .work-nest .work-info {
        opacity: 1;
        top: 0%;
    }

    .work-wrap .work-info h3 {
        font-size: 20px;
    }

    .work-wrap .work-info a {
        font-size: 15px;
        padding: 4px 0;
        width: 130px;
    }

    .carousel {
        width: 600px;
    }

    .mickymouse {
        width: 200px;
        bottom: 10px;
        right: 0;
    }

    .inner {
        max-width: 600px;
    }

    .section5-description .main-heading {
        font-size: 24px;
    }

    .header .menu-icon {
        padding: 38px 20px;
    }

    .header .menu-icon .navicon {
        top: 3px;
    }

    .banner-details a {
        padding: 20px 50px;
    }
}

@media(max-width: 640px) {
    .banner {
        height: 500px;
    }

    .carousel {
        width: 100%;
        padding: 0 15px;
    }

    .banner-details img {
        top: 10px;
        position: relative;
    }

    .banner-details h1 {
        font-size: 25px;
        line-height: 20px;
    }

    .banner-details p {
        font-size: 18px;
    }

    .main-heading {
        font-size: 30px;
        line-height: 40px;
    }

    .section1-row1 p {
        font-size: 16px;
        padding-top: 15px;
    }

    .work-wrap {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .work-wrap .work-info h3 {
        font-size: 30px;
    }

    .work-wrap .work-info a {
        font-size: 16px;
        padding: 10px 0;
        width: 160px;
    }

    .carousel-control.right {
        right: 15px;
    }

    .carousel-control.left {
        right: 55px;
    }

    .mickymouse {
        width: 150px;
        bottom: 0px;
        right: 0;
    }

    .carousel .testimonial {
        font-size: 16px;
    }

    .section5-description .main-heading {
        font-size: 20px;
    }
}

@media(max-width: 480px) {
    .banner-details h1 {
        font-size: 27px;
        line-height: 1.3;
    }

    .banner-details p {
        font-size: 18px;
        line-height: 1.3;
    }

    .parallax-window {
        background-position: left !important;
    }

    .banner-details img {
        max-width: 40%;
    }

    .mickymouse {
        width: 110px;
    }

    .subscription-form form input[type="text"] {
        width: 100%;
    }

    .subscription-form form input[type="submit"] {
        margin-top: 20px;
    }

    .subscription-form form {
        text-align: center;
    }

    .section5-description .main-heading {
        font-size: 17px;
    }

    footer p {
        font-size: 14px;
    }

    .work-wrap .work-info h3 {
        font-size: 20px;
    }
}

@media(max-width: 374px) {
    .banner-details h1 {
        font-size: 24px;
    }

    .news-description {
        padding: 0 14px;
    }

    #burst-12 {
        top: -20px;
    }

    #burst-13 {
        bottom: -20px;
    }

    .section5-description .main-heading {
        font-size: 16px;
    }
}


/* media query end */